.main_header{
    border-top: 0.5rem solid salmon;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    
    .main_header-logo_wrepper{
        img{
            width: 4rem;
        }
    }

    .main_header-main_nav{
        .main-heade-main-nav-list{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            gap: 2rem;
            
            a{
                text-decoration: none;
                color: black;
                font-family: $font;
                font-weight: bold;
            }
        }
    }
}